body{
	background-color: #0f152B;
}
.header{
	background-color: #0c1326;
	color: white;
	text-align: center;
	padding:30px;
	font-family: Helvetica;
	text-align: left;
}

.nav{
	line-height: 30px;
	background-color: #0f152B;
	color:white;
	width:25%;
	float: right;
}

.section{
	width:65%;
	float: left;
	padding:50px;
	color:black;
	background-image: url("../images/bg.png");
	
	
}

.right{
	padding-left: 20px;
	
	
}

.footer{
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding-top:12px;
}

.left_li{
	border-bottom: 1px solid #CFCCC4;
	text-decoration: underline;
	width:60%;
}

dt{
	font-size: 20px;
	color:dodgerblue;
}

dd{
	font-size: 14px;
}

dl{
	border-bottom: 1px solid #CFCCC4;
}

blockquote{
	font-style: italic;
}

h4{
	background-color: #3554A6;
	padding:10px;
	font-size: 18px;
}

h2{
	color:cornflowerblue;
	font-weight:bold;
}

